version: '3.8'

services:
  backend:
    build:
      context: . 
      dockerfile: Dockerfile 
    container_name: nodevault
    ports:
      - "3000:3000" 
    env_file:
      - .env
    depends_on:
      - mongodb 
    networks:
      - private_net
      
  mongodb:
    image: mongo:6 
    container_name: mongodb
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=scdvault 
    networks:
      - private_net

networks:
  private_net:
    driver: bridge
    
volumes:
  mongo_data:
    driver: local
